.menus {
  background-color: #11212e;
  border-bottom: 2px solid #9e294f;

  .menusBlock {
    display: flex;
    .item {
      a {
        color: #fff;
        padding: 0 25px;
        line-height: 55px;
        font-size: 15px;
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0;
        transition: 0.3s;
        &:hover {
          color: #9b1325;
        }
      }
    }
  }
}
